{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Date Manage{{LANGUAGE_CODE}}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

<div class="container">

<!-- 警告訊息 -->
  <div class="alert" role="alert" style="visibility:hidden;" id="message">
    permission denied
  </div>

<!-- 日歷 -->
  <div id="calendar">

  </div>
</div>
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-grounp">
            <label for="day">type</label>
            <select name="day" id="day" class="form-control">
              <option value="workday">
                workday
              </option>
              <option value="holiday">
                holiday
              </option>
            </select>
          </div>
          <br>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="locked">
            <label class="form-check-label" for="locked">locked</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{%trans 'Cancel'%}</button>
        <button type="button" class="btn btn-primary" id="save" >{%trans 'Save'%}</button>
      </div>
    </div>
  </div>
</div>

<script>
    let currInfo = {}
    let calendar = {}
            // 送出修改某天的資料
    let sendData = function(){
        let target = currInfo.event.id;
        let e = document.getElementById("day")
        let WorkOrRest = e.options[e.selectedIndex].value;
        let locked = document.getElementById("locked").checked;
        let date = currInfo.event.start.toISOString().split('T')[0];
        updateData = {
            'id': target,
            'date': date,
            'attribute': WorkOrRest,
            'locked': locked
        }
        // TODO: 修改PUT 內容
        fetch('/api/dates/' + target + '/', {
          method: "PUT",
          headers:{
            'X-CSRFToken': '{{ csrf_token }}',
            'content-type': 'application/json'
          },
          body: JSON.stringify(updateData)
        }).then(response => {
          if(response.ok){
            calendar.refetchEvents();
            let msg = document.getElementById('message');
            
            msg.style.visibility = '';
            msg.classList.remove('alert-danger')
            msg.classList.add('alert-success')
            msg.innerText = 'change sucess'
            setTimeout(function (){
              msg.style.visibility = 'hidden';
            }, 2000);
          }else{
            let msg = document.getElementById('message');
            msg.style.visibility = '';
            msg.classList.remove('alert-success')
            msg.classList.add('alert-danger')
            msg.innerText = 'permission denied'
            setTimeout(function (){
              msg.style.visibility = 'hidden';
            }, 2000);
          }
        });
        $('#myModal').modal('hide');
      }
    
        
    
    document.addEventListener('DOMContentLoaded', function () {
        let Calendar = FullCalendar.Calendar;
        let Draggable = FullCalendarInteraction.Draggable;
        let calendarEl = document.getElementById('calendar');
        let initialLocaleCode = 'en';
        

        calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid'],
                selectable: false,
                selectHelper: true,
                theme: true,
                editable: true,
                themeSystem: 'bootstrap',
                eventLimit: true, // when too many events in a day, show the popover
                timeZone: 'UTC',
                customButtons: {
                    submitButton: {
                        text: '  back  ',
                        click: function () {
                            window.location = "/";
                        }
                    }
                },
                header: {
                    left: '',
                    center: 'title',
                    right: 'prev,next'
                },
                footer: {
                    center: 'submitButton'
                },
                showNonCurrentDates: false,
                droppable: true,
                eventClick: function(info){
                    currInfo = info;
                    $('#exampleModalLabel').text(info.event.start.toISOString().split('T')[0]);
                    $('#myModal').modal('show');
                    $('#day').val(info.event.title);
                    $('#locked').prop('checked',info.event.extendedProps.locked);
                },
                eventRender: function(info) {
                  if (info.event.extendedProps.locked){
                    x = document.createElement('div');
                    x.innerHTML = '<i class="fas fa-lock" style="margin-left:5px;font-size:1rem;"></i>';
                    info.el.appendChild(x);
                  }
                },
                events: '/api/dates'
            });
            if ("{{LANG}}" == 'zh-hant') {
                calendar.setOption('locale', 'zh-tw');
            }
            calendar.render();
            
        });
        saveButton = document.getElementById('save');
        saveButton.addEventListener('click',sendData);
        


</script>
{% endblock %}
