{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'PromiseShift' %}{% endblock %}


<!-- 加入full calendar套件 -->
{% block content %}
<div class="container">
  
  <div class="greet text-center">
    {% if user.is_authenticated %}
    <h1> {%trans 'PromiseShift'%}</h1>
    {% endif%}
  </div>
  <div class="calendar-container">
    <div id="calendar">

    </div>
  </div>

</div>
<!-- modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-grounp">
            <label for="user">user</label>
            <select name="user" id="user-select" class="form-control">
            </select>
            <label for="shift">shift</label>
            <select name="shift" id="shift-select" class="form-control">
            </select>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{%trans 'Cancel'%}</button>
        <button type="button" class="btn btn-primary" id="save" >{%trans 'Save'%}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- 自訂 CSS -->

{% block styles %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #calendar {
        padding: 2rem;
        max-width: 900px;
        background-color: white;
    }
    .calendar-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .bigEvent{
      height: 3rem;
      font-size: 1rem;
      text-align: center;
    }

</style>
{% endblock %}



<!-- 自訂 scripts -->
{% block scripts %}
<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendarInteraction.Draggable;
        var calendarEl = document.getElementById('calendar');
        var initialLocaleCode = 'en';
        let locked_days = new Array()  // 紀錄被鎖的日期
        let choosed_days = new Array() // 紀錄目前被選的日期
        let users = []
        let days = {}
        let shifts = []
        let date = ''

// 查詢所有使用者
        fetch('/api/users/')
        .then(response=>{
          return response.json()
        })
        .then(data=>{
          data.forEach(user=>{
            let select = document.getElementById('user-select');
            let option = document.createElement('option');
            option.setAttribute('value', user.username);
            option.value = user.id;
            option.text = user.full_name;
            select.add(option);
          });
        })
// 查詢所有班別
        fetch('/api/shifts')
        .then(response=>{
          return response.json();  
        })
        .then(data=>{
            data.forEach(shift=>{
                let select = document.getElementById('shift-select');
                let option = document.createElement('option');
                option.value = shift.id;
                option.text = shift.name;
                select.add(option);
            });
        });

        //  fullcalender define
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            selectable: true,
            selectHelper: true,
            theme: true,
            editable: true,
            defaultDate:"{{start}}",
            themeSystem: 'bootstrap',
            dayRender:function(info){
                // console.log(info.date.toISOString().split('T')[0]=='2020-04-13')
                // dateStr = info.date.toISOString().split('T')[0]
                // if (days[dateStr].extendedProps.locked === true){
                //   info.el.style.backgroundColor = 'red';
                // }
            },
            eventLimit: true, // when too many events in a day, show the popover
            timeZone: 'UTC',
            locale: 'en',
            // 點一下加入事件
            dateClick:function(info){
                $('#myModal').modal('show');
                $('#exampleModalLabel').text(info.dateStr);
                date = info.dateStr;
            },
            customButtons: {
                submitButton: {
                    text: '  submit  ',
                    click: function () {
                        window.location = "/";
                    }
                }
            },
            eventSources:[{
              events: function(fetchInfo, successCallback, failureCallback){
              let url = '/api/dates/'
              start_str = fetchInfo.startStr
              end_str = fetchInfo.endStr
              url += '?start=' + start_str + '&end=' + end_str
              fetch(url)
              .then(function(response){
                return response.json();
              })
              .then(function(jsonData){
                jsonData.forEach(e=>{
                  days[e.start]=e.id
                  if (e.title=='holiday'){
                    e.color='yellow';
                  }
                  else{
                    e.color='white';
                  }
                  e.rendering="background";
                  e.overlap=true;
                })
                successCallback(jsonData);
                  
              })
            }
            },{
              events: function(fetchInfo, successCallback, failureCallback){
                let url = '/api/promises/'
                start_str = fetchInfo.startStr
                end_str = fetchInfo.endStr
                url += '?start=' + start_str + '&end=' + end_str
                fetch(url)
                .then(function(response){
                return response.json();
                })
                .then(function(data){
                  data.forEach(e=>{
                    e.className = 'bigEvent';
                    e.title = e.user.full_name + '\n' + e.shift.name;
                    e.textColor = 'white';
                    
                    if(e.shift.shift_type=='休假'){
                        e.color = 'red'
                    }
                    console.log(e)
                    choosed_days.push(e.date)
                  });
                  successCallback(data);
                });
              }
            }],
            eventClick:function(info){
              fetch('/api/promises/' + info.event.id + '/', {
                    method: "DELETE",
                    headers:{
                      'X-CSRFToken': '{{ csrf_token }}',  
                    },
              })
              // 點擊事件可以刪除
              info.event.remove()
            },
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            footer: {
                center: 'submitButton'
            },
            showNonCurrentDates: false,
            droppable: true,
        });
        if ("{{LANG}}" == 'zh-hant') {
            calendar.setOption('locale', 'zh-tw');
        }
        calendar.render();
        // 按下儲存後要送出request
        save_btn = document.getElementById('save');
        save_btn.addEventListener('click', function(){
            let e = document.getElementById("user-select");
            user = e.options[e.selectedIndex].value;
            e = document.getElementById("shift-select");
            shift = e.options[e.selectedIndex].value;
            new_shift = {
                'user': user,
                'year': date.split('-')[0],
                'date': date,
                'shift': shift
            }
            fetch('/api/promises/', 
                        {
                          method: "POST",
                          headers:{
                            'X-CSRFToken': '{{ csrf_token }}',
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify(new_shift)
                        })
                  .then(response=>{
                    return response.json()
                  })
                  .then(jsonData=>{
                    calendar.refetchEvents();
                    $('#myModal').modal('hide');
                  });
        });


        // 印出目前顯示的最早與最晚時間
        
        //console.log(calendar.view.activeStart);
        //console.log(calendar.view.activeEnd);
    });
</script>
{% endblock %}