{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'ReservingHoliday' %}{% endblock %}


<!-- 加入full calendar套件 -->
{% block content %}
<div class="container">
  
  <div class="greet text-center">
    {% if user.is_authenticated %}
    <h1> {%trans 'ReservingHoliday'%}</h1>
    {% endif%}
  </div>
  <div class="calendar-container">
    <div id="calendar">

    </div>
  </div>

</div>
{% endblock %}

<!-- 自訂 CSS -->

{% block styles %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #calendar {
        padding: 2rem;
        max-width: 900px;
        background-color: white;
    }
    .calendar-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

</style>
{% endblock %}



<!-- 自訂 scripts -->
{% block scripts %}
<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendarInteraction.Draggable;
        var calendarEl = document.getElementById('calendar');
        var initialLocaleCode = 'en';
        var localeSelectorEl = document.getElementById('locale-selector')
        let locked_days = new Array()  // 紀錄被鎖的日期
        let choosed_days = new Array() // 紀錄目前被選的日期
        let curr_user = {}
        fetch('/api/users/curr')
        .then(response=>{
          return response.json()
        })
        .then(data=>{
          curr_user = data;
          console.log(curr_user)
        })

        
        //  fullcalender define
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            selectable: true,
            selectHelper: true,
            theme: true,
            editable: true,
            defaultDate:"{{start}}",
            themeSystem: 'bootstrap',
            dayRender:function(info){
                // console.log(info.date.toISOString().split('T')[0]=='2020-04-13')
                // dateStr = info.date.toISOString().split('T')[0]
                // if (days[dateStr].extendedProps.locked === true){
                //   info.el.style.backgroundColor = 'red';
                // }
            },
            eventLimit: true, // when too many events in a day, show the popover
            timeZone: 'UTC',
            locale: 'en',
            dateClick:function(info){
              if (!locked_days.includes(info.dateStr)){
                if(curr_user.role=="admin" || curr_user.is_superuser){
                  console.log('admin')
                }else{
                  console.log('else')
                }
                // info.dayEl.style.backgroundColor='#07AB13'
                calendar.addEvent({
                  start: info.dateStr,
                  title:'test',
                  textColor: 'white',
                  className: 'bigevent'
                })
              }
                
                // 核對資訊
            },
            customButtons: {
                submitButton: {
                    text: '  back  ',
                    click: function () {
                        window.location = "/";
                    }
                }
            },
            events:function(fetchInfo, successCallback, failureCallback){
              let days = []
              let url = '/api/dates'
              fetch(url)
              .then(function(response){
                return response.json();
              })
              .then(function(jsonData){
                jsonData.forEach(e=>{
                  if (e.title=='holiday'){
                    e.color='yellow'
                  }
                  else{
                    e.color='white'
                  }
                  if(e.extendedProps.locked==true){
                    e.color='red'
                    locked_days.push(e.start)
                  }
                  e.rendering="background"
                })
                successCallback(jsonData)
                  
              })
            },
            eventClick:function(info){
              
              // 點擊事件可以刪除
              info.event.remove()
            },
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            footer: {
                center: 'submitButton'
            },
            showNonCurrentDates: false,
            droppable: true,
        });
        if ("{{LANG}}" == 'zh-hant') {
            calendar.setOption('locale', 'zh-tw');
        }
        calendar.render();

        
        // 印出目前顯示的最早與最晚時間
        
        //console.log(calendar.view.activeStart);
        //console.log(calendar.view.activeEnd);
    });
</script>
{% endblock %}