{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'ReservingHoliday' %}{% endblock %}


<!-- 加入full calendar套件 -->
{% block content %}
<div class="container">
  
  <div class="greet text-center">
    {% if user.is_authenticated %}
    <h1> {%trans 'ReservingHoliday'%}</h1>
    {% endif%}
  </div>
  <!-- 警告訊息 -->
  <div class="alert" role="alert" id="message">
    選擇這天的人數已經超過上限，請考慮別天
  </div>

  <div class="calendar-container">
    <div id="calendar">

    </div>
  </div>

</div>
{% endblock %}

<!-- 自訂 CSS -->

{% block styles %}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #calendar {
        padding: 2rem;
        max-width: 900px;
        background-color: white;
    }
    .calendar-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    .bigEvent{
      height: 2rem;
      font-size: 1rem;
      text-align: center;
      line-height: 2rem;
    }

    .alert {
      display: none;
    }

</style>
{% endblock %}



<!-- 自訂 scripts -->
{% block scripts %}
<script>
    
    document.addEventListener('DOMContentLoaded', function () {
        var Calendar = FullCalendar.Calendar;
        var Draggable = FullCalendarInteraction.Draggable;
        var calendarEl = document.getElementById('calendar');
        var initialLocaleCode = 'en';
        var localeSelectorEl = document.getElementById('locale-selector')
        let locked_days = new Array()  // 紀錄被鎖的日期
        let choosed_days = new Array() // 紀錄目前被選的日期
        let curr_user = {}
        let days = {}
        let max = parseInt("{{max}}")
        
        fetch('/api/users/curr')
        .then(response=>{
          return response.json()
        })
        .then(data=>{
          curr_user = data;
        })

        
        //  fullcalender define
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            selectable: true,
            selectHelper: true,
            theme: true,
            editable: true,
            defaultDate:"{{start}}",
            themeSystem: 'bootstrap',
            dayRender:function(info){
                // console.log(info.date.toISOString().split('T')[0]=='2020-04-13')
                // dateStr = info.date.toISOString().split('T')[0]
                // if (days[dateStr].extendedProps.locked === true){
                //   info.el.style.backgroundColor = 'red';
                // }
            },
            eventLimit: true, // when too many events in a day, show the popover
            timeZone: 'UTC',
            locale: 'en',
            eventOverlap: false,
            validRange:{
                  start: "{{start}}",
                  end: "{{end}}"
                },
            // 點一下加入事件
            dateClick:function(info){
              if (!locked_days.includes(info.dateStr)){
                if(!choosed_days.includes(info.dateStr)){
                  if(choosed_days.length < max){
                    newEvent = {
                    user: curr_user.id,
                    year: info.dateStr.split('-')[0],
                    date: info.dateStr.split('T')[0]
                    }
                    fetch('/api/reservations/', 
                          {
                            method: "POST",
                            headers:{
                              'X-CSRFToken': '{{ csrf_token }}',
                              'content-type': 'application/json'
                          },
                          body: JSON.stringify(newEvent)
                          })
                    .then(response=>{
                      return response.json()
                    })
                    .then(jsonData=>{
                      if(jsonData.alarm){
                        let msg = document.getElementById('message');
                        msg.style.visibility = '';
                        msg.classList.add('alert-danger')
                        msg.innerText = jsonData.alarm
                        setTimeout(function (){
                          msg.style.visibility = 'hidden';
                        }, 5000);
                      }
                      calendar.refetchEvents();
                    });
                  }else{
                    alert('too many');
                  }
                }
              }
            },
            customButtons: {
                submitButton: {
                    text: '  submit  ',
                    click: function () {
                        window.location = "/";
                    }
                }
            },
            eventSources:[{
              // 每天的資訊
              events: function(fetchInfo, successCallback, failureCallback){
              let url = '/api/dates/'
              start_str = fetchInfo.startStr
              end_str = fetchInfo.endStr
              url += '?start=' + start_str + '&end=' + end_str
              fetch(url)
              .then(function(response){
                return response.json();
              })
              .then(function(jsonData){
                jsonData.forEach(e=>{
                  days[e.start]=e.id
                  if (e.title=='holiday'){
                    e.color='yellow';
                  }
                  else{
                    e.color='white';
                  }
                  if(e.extendedProps.locked==true){
                    e.color='red';
                    locked_days.push(e.start);
                  }
                  e.rendering="background";
                  e.overlap=true;
                })
                successCallback(jsonData);
                  
              })
            }
            },{
              // 已經預定的資料
              events: function(fetchInfo, successCallback, failureCallback){
                choosed_days = new Array()
                let url = '/api/reservations/'
                start_str = fetchInfo.startStr
                end_str = fetchInfo.endStr
                url += '?start=' + start_str + '&end=' + end_str
                url += '&mode=personal'
                fetch(url)
                .then(function(response){
                return response.json();
                })
                .then(function(data){
                  data.forEach(e=>{
                    e.className = 'bigEvent';
                    e.title = "排休";
                    e.textColor = 'white';
                    e.overlap = false;
                    choosed_days.push(e.date)
                  });
                  successCallback(data);
                });
              }
            }],
            eventClick:function(info){
              fetch('/api/reservations/' + info.event.id + '/', {
                    method: "DELETE",
                    headers:{
                      'X-CSRFToken': '{{ csrf_token }}',  
                    },
              }).then(res=>{
                  calendar.refetchEvents();
              });
              // 點擊事件可以刪除
              // index = choosed_days.indexOf(info.event.start.toISOString().split('T')[0])
              // console.log(index)
              
              // info.event.remove();
              
            },
            header: {
                left: 'today',
                center: 'title',
                right: 'prev,next'
            },
            footer: {
                center: 'submitButton'
            },
            showNonCurrentDates: false,
            droppable: true,
        });
        if ("{{LANG}}" == 'zh-hant') {
            calendar.setOption('locale', 'zh-tw');
        }
        calendar.render();

        
        // 印出目前顯示的最早與最晚時間
        
        //console.log(calendar.view.activeStart);
        //console.log(calendar.view.activeEnd);
    });
</script>
{% endblock %}