{% extends "base.html" %}
{% block title %} User Detail {% endblock %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="d-flex">
                <div
                    style="background-color:{{user_color}};width:4rem;height:4rem;border-radius:
                    1rem;" class="d-flex justify-content-center
                    align-items-center">
                    <h3 style="color:white;">N{{user.level}}</h3>
                </div>
                <div class="col">
                    <h2>{{target_user.full_name}}</h2>
                    <h5>{{target_user.department}}</h5>
                </div>
            </div>

            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>{% trans 'username' %}</td>
                        <td>{{target_user.username}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'email' %}</td>
                        <td>{{target_user.email}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'Fullname' %}</td>
                        <td>{{target_user.full_name}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'level' %}</td>
                        <td>{{target_user.level}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'eid' %}</td>
                        <td>{{target_user.eid}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'gender' %}</td>
                        <td>{{target_user.gender}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'canSchedule' %}</td>
                        <td>{{target_user.can_be_scheduled}}</td>
                    </tr>
                    <tr>
                        <td>{% trans 'role' %}</td>
                        <td>
                            {{target_user.role}}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'holidayRest' %}</td>
                        <td>
                            {{target_user.holiday_rest_num}}
                        </td>
                    </tr>

                    <tr>
                        <td>{% trans 'specialRest' %}</td>
                        <td>
                            {{target_user.special_rest_num}}
                        </td>
                    </tr>



                </tbody>
            </table>
            <br>
            <h2> 排班狀況</h2>
            <br>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>{% trans 'type' %}</td>
                        <td>
                            {{target_user.type_of_user}}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans 'holidayRestUsed' %}</td>
                        <td>
                            {{target_user.holiday_rest_num_used}}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans 'workhourRequired' %}</td>
                        <td>
                            {{target_user.hour_required}}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans 'workhourRealized' %}</td>
                        <td>
                            {{target_user.hour_realized}}
                        </td>
                    </tr>
                    <tr>
                        <td>{% trans 'specialRestUsed' %}</td>
                        <td>
                            {{target_user.special_rest_num_used}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6 right">
            <h3>待簽核表單</h3>
            <div class="card audit-card">
                {% if applications %}
                    {% for app in applications %}
                    {% endfor %}
                {% else %}
                    <div>無待簽核表單</div>
                {% endif %}
            </div>
            <h3>證照管理</h3>
            <div class="card liscense-card">
                {% if liscense %}
                    {% for app in applications %}
                    {% endfor %}
                {% else %}
                    <div>無證照</div>
                {% endif %}
            </div>
        </div>

    </div>

    <a href="/accounts/change_password" class="btn btn-lg btn-success">
        {% trans 'ChangePassword' %}</a>
    {% if user.is_staff %}
    <a href="/accounts/update/{{target_user.id}}" class="btn btn-lg
        btn-primary">{% trans 'Edit' %}</a>
    {% endif %}

</div>
<style>
    table{
        font-size: 1rem;
        background-color: white;
        box-shadow: 0 0 1px 0;
    }
    .right h3{
        margin-top: 2.5rem;
    }
    .audit-card{
        padding: 1rem;
        font-size: 1rem;
        min-height: 3rem;
        box-shadow: 0 0 1px 0;
    }
    .liscense-card{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        min-height: 10rem;
        box-shadow: 0 0 1px 0;
    }
</style>

{% endblock %}