{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-title text-center">
      <h2>User Login</h2>
    </div>
    <div class="card-body">
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"> &nbsp<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp</div>
          </div>
          <input type="text" class="form-control form-control-lg" id="username"  name="username" placeholder="Username">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"> &nbsp<i class="fa fa-lock" aria-hidden="true"></i> &nbsp</div>
          </div>
          <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            Remember me
          </label>
        </div>
      </div>
      {% if form.errors %}
      <p class=" label label-danger">
          Your username and password didn't match. 
          Please try again.
      </p>
      {% endif %}
        <div class="col-12 text-center">
          <input class='btn-primary btn-lg' type="submit" value="Login">
          <input type="hidden" name="next" value="{{ next }}" />
          <br>
          <br>
          <small><b><a href="{% url 'password_reset' %}">forgot password?</a></b></small>
      
        </div>
      </form>
    </div>
  </div>

</div>

{%endblock%}

{% block styles %}
<style>
  body{
    background-color: #84C0E9 !important; 
  }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }

    .card {
        background-color: #fff;
        padding: 3rem 2rem;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
        width: 30rem;
        min-width: 25rem;
        color: rgb(5, 7, 50);
    }
    .card-title, h2{
      margin: 0;
    }
    .btn-primary {
        box-shadow: 0px 1px 3px #000;
    }

    @media(max-width:600px) {
      .card{
        width:90vw;
      }
    }
    .input-group{
      margin: 1rem 0;
    }
</style>

<script>
  document.addEventListener("DOMContentLoaded",function(){

    let nav = document.querySelector('.navbar');
    nav.classList.add('invisible');
    nav.style.display = "none"
    let sidebar = document.querySelector('#sidebar-wrapper');
    sidebar.classList.add('invisible');
    sidebar.style.display = "none";
    $.cookie("showSidebar", 'hide', { path: "/" })
    let wrapper = document.getElementById("wrapper")
    if (! wrapper.classList.contains('toggled')){
      wrapper.classList.add('toggled')
    }
  })

</script>
{% endblock %}