{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="card">
      <div class="card-title">
        <h2>忘記密碼</h2>
      </div>
    
    <p>Please enter your email address.</p>
    <p>We will send a link for you to reset your password.</p>
    <form action="" method="post">
        <div style="display:none">
          <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        {{form | crispy}}
        
       
        <input class="btn btn-primary" type="submit" value="send" />
      
      </form>
  </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .card {
        background-color: #fff;
        padding: 3rem;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.8);
        width: 40rem;
        min-width: 20rem;
        color: rgb(5, 7, 50);
    }
</style>

{% endblock %}