{% load crispy_forms_tags %}
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3>{{ modal_form_title }}</h3>
                    {% for field in form %}
                    {{ field | as_crispy_field }}
                    {% endfor %}
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="submit-btn btn btn-primary">上傳</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
