{% load static %}
{% load i18n %}
{% block nav%}
<!-- custom filter module -->
{% load i18n_switcher %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
    <button class="btn" id="menu-toggle"><i class="fas fa-bars"></i></button>
    <!-- <a class="navbar-brand offset-1" href="{% url 'home' %}">Redfalcon</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand col-6 overflow-hidden">XX 醫院 XX 部 排班系統</div>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- {% if user.is_superuser%}
            <li class="nav-item">
                <a class="nav-link" href="/admin">{% trans 'Manager' %}</a>
            </li>
            {% endif %} -->
            
           
        </ul>
        
            <div class="dropdown">
                <a role="button" href="#" type="button" class="nav-link dark" data-toggle="dropdown"> 
                    <i class="fa fa-globe-americas" aria-hidden="true"></i>
                </a>
                <ul id="language-list" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <form name="languageZh" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="zh-hant" />
                            <a class="dropdown-item" href="javascript:document.languageZh.submit()">繁體中文</a>
                        </form>
                    </li>    
                    <li>
                        <form name="languageEn" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <input name="language" type="hidden" value="en" />
                            <a class="dropdown-item" href="javascript:document.languageEn.submit()">English</a>
                        </form>
                    </li>
                    </ul>
            </div>
            
        {% if user.is_authenticated %}
        <!-- <a class="btn btn-danger" href=""> Logout</a> -->
        <div class="dropdown">
            <a class="nav-link dark" href="#" id="navbarDropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bell" aria-hidden="true"></i>
                {% if unread_count %}
                <span class="badge badge-danger">{{unread_count}}</span>
                    {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'notice:list' %}">通知</a>
            </div>
        </div>
       
            <div class="dropdown rightest">
                <a class="nav-link dark" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                    <a class="dropdown-item" href="#">個人班表</a>
                    <a class="dropdown-item" href="/accounts/{{user.id}}">個人資訊</a>
                    {% if user.role in "manager,admin" or user.is_superuser%}
                    <a class="dropdown-item" href="/accounts/list">帳號管理</a>
                    {% endif %}
                    
                </div>
            </div>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Login' %}</a>
        {% endif %}
        </div>
                
</nav>
<style>
a:hover{
    text-decoration: none;
}
nav{
    box-shadow: 1px 0px 2px 0px;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 10;
    background-color: #84C0E9 !important;
}
/* nav button{
    font-size: 1.2rem;
} */
.dropdown-toggle{
    color:white;
}

.nav-link:hover{
    color:white;
    background-color: blanchedalmond;
}

.dropdown:hover{
    color:white;
}

.btn{
    margin: .25rem;
}
a.dark{
    background-color: #84C0E9;
    color: white;
}
a.dark:hover{
    background-color: #74B0C9;
}
</style>
<script>
    
</script>
{% endblock %}
