{% load static %}
<script src="{% static "fullcalendar/resource-common/main.min.js" %}"></script>
<!-- <script src="{% static "fullcalendar/resource-timegrid/main.js" %}"></script> -->
<script src="{% static "fullcalendar/resource-timeline/main.min.js" %}"></script>
<script src="{% static "fullcalendar/resource-daygrid/main.min.js" %}"></script>

<link rel="stylesheet" href="{% static 'fullcalendar/resource-timeline/main.min.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

    <div id="calendar">

    </div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
    var Calendar = FullCalendar.Calendar;
    var Draggable = FullCalendarInteraction.Draggable;
    var calendarEl = document.getElementById('calendar');
    var initialLocaleCode = 'en';
    let currInfo = {};
    let calendar;
    let users = [];

    // fullcalendar 
    calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      editable: false,
      schedulerLicenseKey: '0780359527-fcs-1573633868',
      plugins: ['interaction', 'resourceTimeline'],
      height: 600,
      contentHeight: 600,
      header: {
        left: 'prev,next, custom2',
        center: 'title',
        right: "resourceTimelineWeek,resourceTimelineMonth"
      },
      columnHeaderFormat: {
        weekday: 'short',
      },
      aspectRatio: 2,
      expandRows:true,
      visibleRange:{
        start:"{{start}}",
        end: "{{end}}"
      },
      resourceColumns: [
        {
          labelText: '員工',
          field: 'title'
        },
        {
          labelText: '排班',
          field: 'id'
        },
        {
          labelText: '特休',
          field: 'id'
        },
        {
          labelText: '加班',
          field: 'id'
        },
        {
          labelText: '差額',
          field: 'id'
        }
      ],
      validRange: {
        start: "{{start}}",
        end: "{{end}}"
      },
      resourceAreaWidth: "15rem",
      defaultView: 'resourceTimelineWeek',
      defaultDate: "{{default}}",
      slotLabelInterval:{day:1},
      slotLabelFormat: [
          {weekday: 'short', day:'numeric'},
      ],
      resourceLabelText: '員工列表',
      resources: function(fetchInfo, successCallback, failureCallback) {
        fetch('/api/users/?mode=resource/')
        .then(res=>{
          return res.json();
        })
        .then(data=>{
          data.forEach(e=>{
            e.title = e.full_name
          });
          successCallback(data);
        });
      },
      eventRender: function(info) {
        let prop = info.event.extendedProps
        $(info.el).tooltip({
          html:true, 
          title: '<h3>'+prop.station_name+'</h3>'+prop.shift.start_time+"~"+prop.shift.end_time,
        });
      },
      eventDestroy:function(info){
        $(info.el).tooltip('dispose');
      },
      events: function(fetchInfo, successCallback, failureCallback){
        let url = '/api/{{results}}/?start='
        url += fetchInfo.startStr + '&end=' + fetchInfo.endStr
        fetch(url)
        .then(res=>{
          return res.json();
        })
        .then(data=>{
          data.forEach(e=>{
            e.title = e.shift.name;
            e.resourceId = e.user.id;
            if (e.shift.shift_type == '休假'){
              e.color = 'red';
            }
          });
          successCallback(data);
        });
      }
    });
    if("{{LANG}}" == 'zh-hant'){
        calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();
    });
</script>
<style>
    .container{
        max-width: 90vw;
    }
    .fc-custom1-button, .fc-custom2-button{
        width: 5rem;
    }
    .num .fc-cell-text{
      min-width: 3rem;
    }
</style>