{% extends "admin/base_site.html" %}

{% load static %}
{% load i18n %}

<!-- custom filter module -->
{% load i18n_switcher %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
{% endblock %}

{% block userlinks %}
<ul>
    <li><a href="{{ request|switch_i18n:'en' }}">
            <span>🇺🇸 English</span>
        </a>
    </li>
    <li><a href="{{ request|switch_i18n:'zh-hant' }}">
            <span>🇹🇼 繁體中文</span>
        </a>
    </li>
</ul>

    {{ block.super }}
    
    <style>
        #user-tools{
            font-size: .8rem;
        }
        ul, li{
            display:inline;
        }
        ul{
            margin-right: 1rem;
        }
    </style>
{% endblock %}
