{% extends "base.html" %}
{% block title %} accounts {% endblock %}
{% load i18n %}
{% load static %}

{% block content %}
<div id="app" class="container">
  <div class="title text-left">
    <h3>科別管理</h3>
  </div>

  {% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    {{message}}
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-sm-12">
      <a href="/departments/create" class="icon-bts float-right" data-tooltip="tooltip" title="新增班別">
        <i class="fa fa-plus-square icon-color"></i>
      </a>
    </div>
  </div>

  <department-list role="{{user.role}}" csrf-token="{{ csrf_token }}"></department-list>
</div>

{% block head %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
{% endblock %}

<script src="{% static 'assets/department-list.bundle.js' %}"></script>

{% endblock %}
