{% extends "base.html" %}
{% block title %} 工作站管理 {% endblock %}
{% load i18n %}
{% load static %}
{% block content %}
<div id="app" class="container">
  <div class="title text-left">
    <h3>工作站清單</h3>
  </div>

  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{message}}
    </div>
  {% endfor %}

  <station-list
  csrf-token="{{ csrf_token }}"
  :my-department-id="{{ user.department.id }}"></station-list>
  <a href="/stations/create" class="btn btn-primary" id="register"> {%trans 'Create'%} </a>

  <!-- 搜尋欄 -->
  <span id="searchbar" class="d-flex">

  <i class="fa fa-search"></i>
  <input type="text" class="form-input" id="myInput" placeholder="Search by ">
  <select  class="selectpicker" data-style="btn-info" id="condition" onchange="printOption()">
    {% for index, field in field_names %}
    <option class="dropdown-item" value={{index}} text={{field}}>{{field}}</a>
    {% endfor %}
  </select>
  </span>
  <!-- 搜尋欄end -->

<table class="table table-striped text-center" id="myTable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">名稱</th>
        <th scope="col">科別</th>
        {% if user.role in "admin,manager" or user.is_superuser %}
        <th scope="col">功能</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for station in stations %}
    {% if not station.name in '休假,公假'%}
      <tr idx="{{station.id}}">
        <td class="name">{{station.name}}</td>
        <td>{{station.department}}</td>
        {% if user.role in "admin,manager" or user.is_superuser %}
        <td>
          <a href="/stations/update/{{station.id}}">
            <div class="btn btn-success"><i class="fas fa-edit"></i></div>
          </a>

          <button class="btn btn-delete btn-danger" type="button" data-toggle="modal" data-target="#modal-delete" value="{{ station.id }}"><i class="fa fa-trash-alt"></i></button>
        </td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>


<style>
    table{
        background-color: white;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.8);
    }
    #myInput{
      outline: none;
    }
</style>
{% block head %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
<script src="{% static 'assets/station-list.bundle.js' %}"></script>
{% endblock %}
<script>
  function searchFilter() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[sid];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
  function printOption(){
    let e = document.getElementById('condition');
    sid = e.options[e.selectedIndex].value;
    optiontext = e.options[e.selectedIndex].text;
    searchFilter(sid);
    document.getElementById('myInput').placeholder = "search by " + optiontext;
  }
  let sid = 0
  let inputBox = document.getElementById("myInput");
  inputBox.addEventListener('keyup',searchFilter);

  document.addEventListener("DOMContentLoaded", function(event) {
    // Your code to run since DOM is loaded and ready
    let id = "#";
    let name = "";
    let cond = document.getElementById('condition');
    document.querySelectorAll(".btn-delete").forEach(function(el){
        el.addEventListener('click', function(){
          id = this.parentNode.parentNode.getAttribute('idx');
          name = this.parentNode.parentNode.childNodes[1].innerText;
          document.querySelector(".modal-body").querySelector("p").innerText = "您確定要刪除 "+name+" ?";
          document.querySelector("#btn-delete").addEventListener('click', function(){
              window.location.href = "/stations/delete/" + id;
          });
     });
      });
      sid = cond.options[cond.selectedIndex].value;
      optiontext = cond.options[cond.selectedIndex].text;
      document.getElementById('myInput').placeholder = "search by " + optiontext;
  });

</script>
{% endblock %}
