{% extends 'base.html' %}
{% load i18n %}

{% block title %}Redfalcon Schedule | Home{% endblock %}
{% load static %}
{% block content %}
<div class="container">
  <div class="greet text-center">
        <h1>使用者首頁</h1>
  </div>
        <div class="dash">
          <div class="card">
           <div class="card-header text-center"> 
             <button class="btn" id="toggle-btn">
               <i class="fa fa-bars"></i>
             </button>班表分析
           </div>
           <div class="card-body DashCollapse" >
             <div class="left">
               <div class='data'><div class="label">工作日</div><div class="nums">1</div></div>
               <div class='data'><div class="label">休息日</div><div class="nums">1</div></div>
               <div class='data'><div class="label">例假日</div><div class="nums">1</div></div>
               <div class='data'><div class="label">國定假日</div><div class="nums">1</div></div>
               <div class='data'><div class="label">特休</div><div class="nums">1</div></div>
             </div>
             <div class="right">
               <canvas  id='chart1'>
               </canvas>
             </div>
             
           </div>
   
           </div>
          
          <div class="card">
           <div class="card-header text-center">出勤分析</div>
           <div class="card-body DashCollapse" >
             <div class="left">
               <div class='data'><div class="label">排班</div><div class="nums">1</div></div>
               <div class='data'><div class="label">加班</div><div class="nums">1</div></div>
               <div class='data'><div class="label">On call</div><div class="nums">1</div></div>
               <div class='data'><div class="label">減班</div><div class="nums">1</div></div>
               <div class='data'><div class="label">差額</div><div class="nums">1</div></div>
             </div>
             <div class="right">
               <canvas  id='chart2'>
               </canvas>
             </div>
           </div>
          </div>
       </div>
           
          <div id="calendar"></div>
    
        

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var initialLocaleCode = 'en';
    var localeSelectorEl = document.getElementById('locale-selector');
    var Draggable = FullCalendarInteraction.Draggable;
    var calendarEl = document.getElementById('calendar');
    var nextPeriod = {}
    let btn = document.getElementById('toggle-btn')
    btn.addEventListener('click', function(){
    let contents = document.querySelectorAll('.DashCollapse');
    contents.forEach(e=>{
      e.classList.toggle('collapse')
      });
    });

  // 第一個圖
  var ctx = document.getElementById('chart1').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ['白班', '小夜', '大夜', 'On call', '空班'],
        datasets: [{
            barThickness: 30,
            data: [12, 7, 5, 5, 2],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                    offsetGridLines: false,
                    display: false
                }
            }],
            xAxes: [{
                ticks: {
                    beginAtZero: true
                },
                gridLines: {
                offsetGridLines: false,
              }
            }]
        },
        legend:{
          display: false,
        },
        aspectRatio: 1.6,
        maintainAspectRatio: false
    }
});


// 第二個圖
  var ctx = document.getElementById('chart2').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: ['排班', '出勤', '公假', '自假'],
          datasets: [{
              barThickness: 30,
              data: [12, 7, 5, 5],
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                      offsetGridLines: false,
                      display: false
                  }
              }],
              xAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                  offsetGridLines: false,
                }
              }]
          },
          legend:{
            display: false,
          },
          aspectRatio: 1.6,
          maintainAspectRatio: false
      }
    });
    // fullcalendar
    var calendar = new FullCalendar.Calendar(calendarEl, {

      plugins: ['dayGrid'],
      defaultView: 'dayGridMonth',
      defaultDate: '2019-11-12',
      header: {
        left: 'prev,next',
        center: 'title',
        right: ''
      },
      eventRender: function (info) {
        $(info.el).tooltip({
          html:true,
          title: info.event.extendedProps.station+'<br>'+info.event.extendedProps.description,
          content:info.event.extendedProps.description,
          placement: "top",
          trigger: "hover",
          container: "body"
        });
      },
      events: 'api/schedule_result_table?mode=checkPersonal'

    });

    // get period
    $.ajax({
      type: "GET",
      url: "/api/periods/next",
      dataType: 'json',
      success: function (data) {
        nextPeriod = data;
        calendar.gotoDate(nextPeriod.start_date);
      },
    });
  

    if ("{{LANG}}" == 'zh-hant') {
      calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();

  });
</script>
{% endblock %}

{% block styles %}
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #333;
      }
      #calendar{
        background-color: white!important;
        padding: 2rem;
        max-width: 900px;
        margin: 20px auto;
      }
      .fc-unthemed td.fc-today{
        background: #888;
      }
      .table-bordered{
          top: 100px;
      }
      .blank{
          height: 4rem;
      }
      .fc-title{
          font-size: 1.2rem;
      }
      .fc-button{
        background-color: #777;
      }
      a, a:hover{
        text-decoration: none;
      }
  
      /* .card-body{
          padding: .25rem;
          margin: .25rem;
          width: 15vw;
          min-width: 12rem;
          max-width: 25rem;
      } */
      #top {
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        font-size: 12px;
      }
      .container{
          width: 100%;
      }
      .fc-event-container {
        color: white;
      }
      /* i {
            font-size: 30px;
        } */
      /* .card-body {
            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            text-overflow: hide;
        } */
        .dash{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 2rem;
        }

        .DashCollapse{
          height: 20rem;
          display:inline-flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }

        .card{
          width: 48%;
        }
        .card-header{
          font-size: 1.6rem;
        }

        .card-header>.btn{
          margin: 0;
          float:left;
        }

        .calendar{
        width: 100%;
        height: 50%;
        }
        
        .content{
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: space-around;
        }
        
        .right{
          width: 65%;
          height: 100%;
          margin: 0;
          overflow: hidden;
          display:inline-flex;
          max-width: 25rem;
          position: relative;
        }

        .left{
          width: 30%;
          height: 100%;
          min-width: 10rem;
          margin: 0;
          display: inline-flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 1rem;
        }
        .data{
          display: flex;
        }
        .label{
          width: 60%;
        }
        .card-header .fa-bars::before{
          color: #666;
        }
    </style>
{% endblock %}
