{% extends 'base.html' %}
{% load i18n %}

{% block title %}Redfalcon Schedule | Home{% endblock %}
{% load static %}
{% block content %}
<div id="app" class="container">
  <div class="dash">
    <employee-main-page user-id="{{ user.id }}"></employee-main-page>
  </div>

  <div id="calendar"></div>



</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
  integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
  crossorigin="anonymous"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var initialLocaleCode = 'en';
    var localeSelectorEl = document.getElementById('locale-selector');
    var Draggable = FullCalendarInteraction.Draggable;
    var calendarEl = document.getElementById('calendar');
    // var nextPeriod = {}
    // let btn = document.getElementById('toggle-btn')
    // btn.addEventListener('click', function () {
    //   let contents = document.querySelectorAll('.DashCollapse');
    //   contents.forEach(e => {
    //     e.classList.toggle('collapse')
    //   });
    // });

    // 第一個圖
    // var ctx = document.getElementById('chart1').getContext('2d');
    // var myChart = new Chart(ctx, {
    //   type: 'horizontalBar',
    //   data: {
    //     labels: ['白班', '小夜', '大夜', 'On call', '空班'],
    //     datasets: [{
    //       barThickness: 30,
    //       data: [12, 7, 5, 5, 2],
    //       backgroundColor: [
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //       ],
    //       borderColor: [
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //       ],
    //       borderWidth: 1
    //     }]
    //   },
    //   options: {
    //     scales: {
    //       yAxes: [{
    //         ticks: {
    //           beginAtZero: true
    //         },
    //         gridLines: {
    //           offsetGridLines: false,
    //           display: false
    //         }
    //       }],
    //       xAxes: [{
    //         ticks: {
    //           beginAtZero: true
    //         },
    //         gridLines: {
    //           offsetGridLines: false,
    //         }
    //       }]
    //     },
    //     legend: {
    //       display: false,
    //     },
    //     aspectRatio: 1.6,
    //     maintainAspectRatio: false
    //   }
    // });


    // 第二個圖
    // var ctx = document.getElementById('chart2').getContext('2d');
    // var myChart = new Chart(ctx, {
    //   type: 'horizontalBar',
    //   data: {
    //     labels: ['排班', '出勤', '公假', '自假'],
    //     datasets: [{
    //       barThickness: 30,
    //       data: [12, 7, 5, 5],
    //       backgroundColor: [
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //       ],
    //       borderColor: [
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //         '#37419A',
    //       ],
    //       borderWidth: 1
    //     }]
    //   },
    //   options: {
    //     scales: {
    //       yAxes: [{
    //         ticks: {
    //           beginAtZero: true
    //         },
    //         gridLines: {
    //           offsetGridLines: false,
    //           display: false
    //         }
    //       }],
    //       xAxes: [{
    //         ticks: {
    //           beginAtZero: true
    //         },
    //         gridLines: {
    //           offsetGridLines: false,
    //         }
    //       }]
    //     },
    //     legend: {
    //       display: false,
    //     },
    //     aspectRatio: 1.6,
    //     maintainAspectRatio: false
    //   }
    // });
    // fullcalendar
    const shiftColor = {
      0: '#ebc57c',
      1: '#84b1ed',
      2: '#6b799e',
      4: '#9c8f96',
      7: '#58b4ae',
      default: '#c2c2c2',
    };
    const adjustColor = {
      0: '#eb8f90',
      1: '#3d313f',
    };
    const promiseShiftType = {
      0: '事假',
      1: '家庭照顧假',
      2: '無薪病假',
      3: '公假',
      4: '產假',
      6: '生理假',
      7: '特休',
      8: '補休',
      9: '婚假',
      10: '計薪病假',
      11: '喪假',
      12: '安胎休養假',
      13: '產檢假',
      14: '陪產假',
      default: '假勤',
    };
    calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: ['interaction', 'dayGrid'],
      selectable: false,
      selectHelper: true,
      theme: true,
      editable: false,
      themeSystem: 'bootstrap',
      firstDay: {{firstday}},
      weekMode: 'liquid',
      eventLimit: true, // when too many events in a day, show the popover
      timeZone: 'UTC',
      header: {
        left: '',
        center: 'prev,title,next',
        right: ''
      },
      showNonCurrentDates: false,
      droppable: true,
      views: {
        dayGridMonth: {
          titleFormat: { year: 'numeric', month: '2-digit' }
        }
      },
      eventClick: function (info) {
        currInfo = info;
        $('#exampleModalLabel').text(info.event.start.toISOString().split('T')[0]);
        $('#myModal').modal('show');
        $('#day').val(info.event.title);
        $('#locked').prop('checked', info.event.extendedProps.locked);
      },
      eventOrder: 'sort,title',
      eventRender: function (info) {
        if (info.event.extendedProps.locked) {
          x = document.createElement('div');
          x.innerHTML = '<i class="fas fa-lock" margin-left:5px;font-size:1rem;"></i>';
          info.el.appendChild(x);
        }
        if (info.event.extendedProps.hasOwnProperty('shift')) {
          if (info.event.extendedProps.isOff !== true && [3, 5, 6].indexOf(info.event.extendedProps.shift.shift_type) < 0) {
            let shiftTime = document.createElement('span');
            shiftTime.innerHTML = moment(info.event.extendedProps.shift.start_time, 'HH:mm').format('HH')
              + '-' + moment(info.event.extendedProps.shift.end_time, 'HH:mm').format('HH');
            shiftTime.className = 'shift-time';
            let shiftStation = document.createElement('span');
            shiftStation.innerHTML = info.event.extendedProps.station.name;
            shiftStation.className = 'shift-station';
            info.el.firstChild.appendChild(shiftTime);
            info.el.firstChild.appendChild(shiftStation);
          }
        } else if (info.event.extendedProps.hasOwnProperty('adjustment_type')) {
          if (info.event.extendedProps.remark) {
            let adjustItem = document.createElement('span');
            adjustItem.innerHTML = info.event.extendedProps.remark;
            adjustItem.className = 'adjust-item';
            info.el.firstChild.appendChild(adjustItem);
          }
        }
      },
      events: function (fetchInfo, successCallback, failureCallback) {
        const queryString = '?uid={{ user.id }}&start=' + fetchInfo.startStr + '&end=' + fetchInfo.endStr;

        let resultPromise = Promise.all([
          fetch('/api/results/' + queryString).then(res => res.json()),
          fetch('/api/shifts/').then(res => res.json()),
          fetch('/api/stations/?department={{department.id}}').then(res => res.json()),
          fetch('/api/dates/' + queryString).then(res => res.json()),
        ]).then(processResult);

        let currentUserPromise = fetch('/api/users/curr/').then(res => res.json());

        let timeAdjustmentPromise = Promise.all([
          fetch('/api/time-adjustment/' + queryString).then(res => res.json()),
          currentUserPromise,
        ]).then(processTimeAdjustment);

        let promisesPromise = currentUserPromise.then(user => {
          return fetch('/api/promises/' + queryString + '&uid=' + user.id)
            .then(res => res.json())
            .then(processPromises);
        });

        let reservationsPromise = fetch('/api/reservations/' + queryString)
          .then(res => res.json())
          .then(processReservations);

        Promise.all([
          resultPromise,
          timeAdjustmentPromise,
          promisesPromise,
          reservationsPromise,
        ]).then(dataArr => {
          // flatten array of arrays
          // ref: https://stackoverflow.com/questions/10865025/merge-flatten-an-array-of-arrays
          let allData = [].concat.apply([], dataArr);
          successCallback(allData);
        });

        function processResult(dataArr) {
          const data = dataArr[0];
          const shifts = dataArr[1];
          const stations = dataArr[2];
          const dates = dataArr[3];

          if (!data || data.length === 0) {
            return [];
          }
          data.forEach(e => {
            const shift = shifts.find(i => i.id === e.shift.id);
            const station = stations.find(i => i.id === e.station.id);
            const date = dates.find(i => i.start === e.date);
            if (date.attribute[shift.department.id] === '0') {
              e.title = '單科休診';
              e.sort = 1;
              e.isOff = true;
              e.backgroundColor = '#ffffff';
              e.borderColor = shiftColor.default;
              e.textColor = shiftColor.default;
            } else {
              e.resourceId = e.user.id;
              e.shift = shift;
              e.station = station;
              if ([3, 5, 6].indexOf(shift.shift_type) < 0) {
                e.title = e.shift_type;
                e.sort = 1;
              } else {
                e.title = shift.name;
                e.sort = 3;
              }
              const color = shiftColor.hasOwnProperty(shift.shift_type) ? shiftColor[shift.shift_type] : shiftColor.default;
              if ([0, 1, 2, 4, 7].indexOf(shift.shift_type) >= 0 || e.shift_type === '空') {
                e.className = 'shift-type';
                e.backgroundColor = color;
                e.borderColor = color;
                e.textColor = color;
              } else {
                e.backgroundColor = '#ffffff';
                e.borderColor = color;
                e.textColor = color;
              }
            }
          });
          return data;
        }

        function processTimeAdjustment(dataArr) {
          const data = dataArr[0];
          const user = dataArr[1];

          if (!data || data.length === 0) {
            return [];
          }

          let processedData = [];
          data.forEach(e => {
            if (e.user === user.id) {
              e.title = (e.adjustment_type === 0 ? '+' : '-') + e.hours;
              e.sort = 2;
              e.resourceId = e.user;
              e.className = 'adjust-hours';
              e.backgroundColor = adjustColor[e.adjustment_type];
              e.borderColor = adjustColor[e.adjustment_type];
              e.textColor = adjustColor[e.adjustment_type];
              processedData.push(e);
            }
          });
          return processedData;
        }

        function processPromises(data) {
          if (!data || data.length === 0) {
            return [];
          }

          let processedData = [];
          data.forEach(e => {
            if (promiseShiftType.hasOwnProperty(e.shift_type)) {
              e.title = '預約' + promiseShiftType[e.shift_type];
            } else {
              e.title = '預約' + promiseShiftType.default;
            }
            e.resourceId = e.user.id;
            e.sort = 4;
            e.backgroundColor = '#ffffff';
            e.borderColor = shiftColor.default;
            e.textColor = shiftColor.default;
            processedData.push(e);
          });
          return processedData;
        }

        function processReservations(data) {
          data.forEach(e => {
            e.title = '預約休假';
            e.resourceId = e.user.id;
            e.sort = 4;
            e.backgroundColor = '#ffffff';
            e.borderColor = shiftColor.default;
            e.textColor = shiftColor.default;
          });
          return data;
        }
      },
    });
    if ("{{LANG}}" == 'zh-hant') {
      calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();

  });
</script>
<script src="{% static 'assets/employee-main-page.bundle.js' %}"></script>
{% endblock %}

{% block styles %}
<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #333;
  }

  #calendar {
    background-color: white !important;
    padding: 2rem;
    max-width: 1140px;
    margin: 20px auto;
  }

  .fc-event {
    display: inline-block;
    width: 90%;
    height: 24px;
    border-radius: 3px;
    border: 1px solid;
    text-align: left;
  }

  .shift-type .fc-title, .adjust-hours .fc-title {
    color: white !important;
    vertical-align: top;
  }

  .fc-title {
    font-size: 16px;
    margin: auto 4px;
  }

  .shift-time,
  .shift-station,
  .adjust-item {
    font-size: 12px;
    background: white;
    margin: auto 1px;
    padding: 1px;
    border-radius: 3px;
  }

  .day_type {
    display: inline-block;
    color: white;
    margin-left: 2px;
    font-weight: 400;
    float: left;
    /* margin-top: -2px; */
  }

  .day_content {
    display: inline-block;
    background: white;
    height: 20px;
    width: 40px;
    color: #EBC57C;
    border-radius: 3px;
    float: left;
    margin-left: 15px;
    /* margin-top: 2px; */
    font-size: 12px;
    line-height: 20px;
    padding-left: 2px;
  }

  .fc-unthemed .fc-content,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-list-heading td,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-row,
  .fc-unthemed tbody,
  .fc-unthemed td,
  .fc-unthemed th,
  .fc-unthemed thead {
    border-color: #c8c8c8;
  }

  .fc-unthemed .fc-disabled-day {
    background: #f1f1f1;
    opacity: 1;
  }

  .fc-past {
    background: white;

  }

  .fc-future {
    background: white;

  }

  h2 {
    display: inline-block;
  }

  .fc-button-primary {
    color: black;
    background: none;
    border: none;
  }

  .fc-prev-button {
    position: absolute;
    left: 380px;
  }

  .fc-next-button {
    position: absolute;
    right: 380px;
  }

  table {
    text-align: center;
    border: 1px solid #c6c6c6;
  }

  th {
    background-color: #d9d9d9;
  }

  .audit_items_body {
    background: white;
  }

  .last_one {
    color: #b5b5b5;
    font-weight: 300;
    font-size: 13px;
  }

  .ex-wrapper {
    margin-top: 5px;
    height: 28px;
  }

  #origin_schedule {
    display: inline-block;
    width: 135px;
    height: 24px;
    background: #EBC57C;
    border-radius: 3px;
  }

  .os_title {
    display: inline-block;
    color: white;
    margin-left: 5px;
    font-weight: 400;
    float: left;
    margin-top: -2px;
  }

  .os_content {
    display: inline-block;
    background: white;
    height: 20px;
    width: 45px;
    color: #EBC57C;
    border-radius: 3px;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 2px;
  }

  #top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
  }

  .container {
    width: 100%;
  }

  .fc-event-container {
    color: white;
  }

  /* i {
            font-size: 30px;
        } */
  /* .card-body {
            color: black;
            font-size: 1.2rem;
            text-decoration: none;
            text-overflow: hide;
        } */
  .dash {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }

  .calendar {
    width: 100%;
    height: 50%;
  }
</style>
{% endblock %}
