{% extends 'base.html' %}
{% load i18n %}

{% block title %}Redfalcon Schedule | Home{% endblock %}
{% load static %}
{% block content %}
<div class="container">
<div class="greet text-center">
        <h1>使用者首頁</h1>

        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        {% else %}
        <p>You are not logged in</p>
        {% endif %}

    </div>
    <div id="calendar">
    </div>
        
    
        

</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var initialLocaleCode = 'en';
    var localeSelectorEl = document.getElementById('locale-selector');
    var Draggable = FullCalendarInteraction.Draggable;
    var calendarEl = document.getElementById('calendar');
    var nextPeriod = {}

    // fullcalendar
    var calendar = new FullCalendar.Calendar(calendarEl, {

      plugins: ['dayGrid'],
      defaultView: 'dayGridMonth',
      defaultDate: '2019-11-12',
      header: {
        left: 'prev,next',
        center: 'title',
        right: ''
      },
      eventRender: function (info) {
        $(info.el).tooltip({
          html:true,
          title: info.event.extendedProps.station+'<br>'+info.event.extendedProps.description,
          content:info.event.extendedProps.description,
          placement: "top",
          trigger: "hover",
          container: "body"
        });
      },
      events: 'api/schedule_result_table?mode=checkPersonal'

    });

    // get period
    $.ajax({
      type: "GET",
      url: "/api/periods/next",
      dataType: 'json',
      success: function (data) {
        nextPeriod = data;
        calendar.gotoDate(nextPeriod.start_date);
      },
    });
  

    if ("{{LANGUAGE_CODE}}" == 'zh-hant') {
      calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();

  });
</script>
{% endblock %}

{% block styles %}
    <style>
        body {
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  .fc-unthemed td.fc-today{
    background: #888;
  }

  #calendar {
    max-width: 900px;
    margin: 20px auto;
    
  }
  .table-bordered{
      top: 100px;
  }
  .blank{
      height: 4rem;
  }
  .fc-title{
      font-size: 1.2rem;
  }
  .fc-button{
    background-color: #777;
  }
  a, a:hover{
    text-decoration: none;
  }
  
  .card-body{
      padding: .25rem;
      margin: .25rem;
      width: 15vw;
      min-width: 12rem;
      max-width: 25rem;
  }
  .card-body:hover {
        /* background-color: antiquewhite; */
        background-color: #c0eeff;
    }
  #top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
  }
  .container{
      width: 100%;
  }
  .fc-event-container {
    color: white;
  }
  /* i {
        font-size: 30px;
    } */
  .card-body {
        color: black;
        font-size: 1.2rem;
        text-decoration: none;
        text-overflow: hide;
    }
    </style>
{% endblock %}
