{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Redfalcon Schedule | Home{% endblock %}
<!-- {% load static %} -->
{% block content %}
<script src="{% static 'fullcalendar/resource-common/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/resource-timeline/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/resource-daygrid/main.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'fullcalendar/resource-timeline/main.min.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<div class="container">
  <div class="dash">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">

          <button class="btn" id="toggle-btn">
            <i class="fa fa-bars"></i>
          </button>人力分析<span class="unit">單位：人</span>
        </div>
        <div class="card-body DashCollapse">
          <div class="half">
            <div class='data'>
              <div class="label">正職</div>
              <div class="nums">{{types.正職}}</div>
            </div>
            <div class='data'>
              <div class="label">資深正職</div>
              <div class="nums">{{types.資深正職}}</div>
            </div>
            <div class='data'>
              <div class="label">行政職</div>
              <div class="nums">{{types.行政職}}</div>
            </div>
            <div class='data'>
              <div class="label">小計</div>
              <div class="nums">{{types.小計1}}</div>
            </div>
          </div>
          <div class="half">
            <div class='data'>
              <div class="label">新進人員</div>
              <div class="nums">{{types.新進人員}}</div>
            </div>
            <div class='data'>
              <div class="label">兼職人員</div>
              <div class="nums">{{types.兼職人員}}</div>
            </div>
            <div class='data'>
              <div class="label">實習生</div>
              <div class="nums">{{types.實習生}}</div>
            </div>
            <div class='data'>
              <div class="label">小計</div>
              <div class="nums">{{types.小計2}}</div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">正職人力出勤分析<span class="unit">單位：時</span></div>
        <div class="card-body DashCollapse">
          <div class="left">
            <div class='data'>
              <div class="label">排班</div>
              <div class="nums">{{total_avg}}</div>
            </div>
            <div class='data'>
              <div class="label">on call</div>
              <div class="nums">{{oncall}}</div>
            </div>
            <div class='data'>
              <div class="label">加班</div>
              <div class="nums">{{overtime}}</div>
            </div>
            <div class='data'>
              <div class="label">減班</div>
              <div class="nums">{{minustime}}</div>
            </div>
            <div class='data'>
              <div class="label">差額</div>
              <div class="nums">{{diff}}</div>
            </div>
          </div>
          <div class="right">
            <canvas id='chart2'>
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
        <div class="card-header text-center">兼職人力出勤分析<span class="unit">單位：時</span></div>
          <div class="card-body DashCollapse" >
            <div class="left">
              <div class='data'><div class="label">排班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">on call</div><div class="nums">1</div></div>
              <div class='data'><div class="label">加班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">減班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">差額</div><div class="nums">1</div></div>
            </div>
            <div class="right">
              <canvas  id='chart3'>
              </canvas>
            </div>
          </div>
        </div>
      </div> -->
  </div>
  <div id="loading" class="text-center">
    <div class="mask"></div>
    <div class="loader"></div>
    <div class="h5 text-center">載入中...</div>
  </div>
  <div id="calendar"></div>
</div> <!-- end container -->
<!-- chart.js CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js">
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
  integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
  crossorigin="anonymous"></script>
<script>
  let first_img = {{bars}};

  document.addEventListener('DOMContentLoaded', function () {
    var nextPeriod = {}
    let btn = document.getElementById('toggle-btn')
    btn.addEventListener('click', function () {
      let contents = document.querySelectorAll('.DashCollapse');
      contents.forEach(e => {
        e.classList.toggle('collapse')
      });
    });







    // 第三個圖
    // var ctx = document.getElementById('chart3').getContext('2d');
    //   var myChart = new Chart(ctx, {
    //     type: 'horizontalBar',
    //     data: {
    //         labels: ['排班', '出勤', '公假', '自假'],
    //         datasets: [{
    //             barThickness: 30,
    //             data: [12, 7, 5, 5],
    //             backgroundColor: [
    //               '#37419A',
    //               '#37419A',
    //               '#37419A',
    //               '#37419A',
    //             ],
    //             borderColor: [
    //               '#37419A',
    //               '#37419A',
    //               '#37419A',
    //               '#37419A',
    //             ],
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             yAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 },
    //                 gridLines: {
    //                     offsetGridLines: false,
    //                     display: false
    //                 }
    //             }],
    //             xAxes: [{
    //                 ticks: {
    //                     beginAtZero: true
    //                 },
    //                 gridLines: {
    //                 offsetGridLines: false,
    //               }
    //             }]
    //         },
    //         legend:{
    //           display: false,
    //         },
    //         aspectRatio: 1.6,
    //         maintainAspectRatio: false
    //     }
    // });

    // calendar
    var calendarEl = document.getElementById('calendar');
    var initialLocaleCode = 'en';
    var Draggable = FullCalendarInteraction.Draggable;
    let currInfo = {};
    let calendar;
    let users = [];
    const shiftColor = {
      0: '#ebc57c',
      1: '#84b1ed',
      2: '#6b799e',
      4: '#9c8f96',
      7: '#58b4ae',
      default: '#c2c2c2',
    };
    const adjustColor = {
      0: '#eb8f90',
      1: '#3d313f',
    };
    const userTypeColor = {
      0: '#84b1ed', //正職
      1: '#37419a', //資深正職
      2: '#eaeaea', //行政職
      3: '#83b1ed', //新進人員
      4: '#eaeaea', //兼職人員
      5: '#83b1ed', //實習生
    };
    class ShiftGroup {
      constructor(shift) {
        this.isOff = [3, 5, 6].indexOf(shift.shift_type) >= 0;
        this.shift = shift;
        this.users = [];
        // Property for event render
        const color = shiftColor.hasOwnProperty(shift.shift_type) ? shiftColor[shift.shift_type] : shiftColor.default;
        if (this.isOff) {
          this.title = '';
          this.backgroundColor = 'transparent';
          this.textColor = 'black';
        } else {
          this.title = shift.name;
          this.backgroundColor = color;
          this.textColor = color;
        }
      }

      addUser(userId, username, userType) {
        this.users.push({
          id: userId,
          name: username,
          type: userType,
        });
      }

      delUser(userId) {
        let idx = this.users.findIndex(u => u.id === userId);
        this.users.splice(idx, 1);
      }
    }

    calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      editable: false,
      schedulerLicenseKey: '0780359527-fcs-1573633868',
      plugins: ['interaction', 'resourceTimeline'],
      height: '100%',
      header: {
        left: 'prev,next, custom2',
        center: 'title',
        right: ""
      },
      columnHeaderFormat: {
        weekday: 'short',
      },
      firstDay: {{firstday}},
      aspectRatio: 2,
      expandRows: true,
      resourceAreaWidth: "8rem",
      defaultView: 'resourceTimelineWeek',
      slotLabelInterval: { day: 1 },
      slotLabelFormat: [
        { weekday: 'short', day: 'numeric' },
      ],
      resourceLabelText: '工作站列表',
      resourceLabelClassNames: function(arg) {
        if (['公假', '休假'].indexOf(arg.resource.extendedProps.name) >= 0) {
          return 'off-resource';
        }
        return '';
      },
      resourceOrder: 'sort',
      resources: function (fetchInfo, successCallback, failureCallback) {
        fetch('/api/stations/?department={{department.id}}')
          .then(res => res.json())
          .then(data => {
            data.forEach(e => {
              if (e.name === '休假') {
                e.title = '休假(可出勤)'
              } else {
                e.title = e.name;
              }

              if (e.name === '公假') {
                e.sort = 2;
              } else if (e.name === '休假') {
                e.sort = 3;
              } else {
                e.sort = 1;
              }
            });
            data.push({
              id: 0,
              title: '休假(不可出勤)',
              sort: 4,
            });
            successCallback(data);
          });
      },
      eventRender: function (info) {
        let prop = info.event.extendedProps;
        let shiftGroup = [];

        for (const shiftId in prop.shifts) {
          if (prop.shifts.hasOwnProperty(shiftId)) {
            const shift = prop.shifts[shiftId];
            const resourceId = info.event.getResources()[0].id;

            let shiftGroup = null;
            if (shift.isOff) {
              shiftGroup = info.el.firstChild.getElementsByClassName('resource-'+resourceId)[0];
            }
            if (!shiftGroup) {
              shiftGroup = document.createElement('div');
              shiftGroup.classList.add('shift-group', 'pb-1', 'pr-1', 'mx-1', 'mt-1', 'resource-'+resourceId);
              shiftGroup.setAttribute('style', `background-color: ${shift.backgroundColor}; color: ${shift.textColor};`);
            }

            if (!shift.isOff) {
              let shiftName = document.createElement('h5');
              shiftName.innerHTML = shift.title;
              shiftName.classList.add('shift-name', 'ml-2', 'my-0', 'py-1');
              shiftGroup.append(shiftName);
            }

            let userList = document.createElement('div');
            userList.classList.add('row', 'no-gutters');
            shift.users.forEach(user => {
              let userWrapper = document.createElement('div');
              userWrapper.classList.add('col-12', 'col-md-6');
              let userGroup = document.createElement('span');
              userGroup.classList.add('user-group', 'ml-1', 'mt-1', 'pr-1');

              let level = document.createElement('i');
              level.classList.add('fas', 'mx-1', 'align-middle');
              if ([0, 1, 2, 3, 4, 5].indexOf(user.type) >= 0) {
                level.setAttribute('style', `color: ${userTypeColor[user.type]};`);
                if ([3, 5].indexOf(user.type) >= 0) {
                  // 新進人員、實習生以空心圓圈表示
                  level.classList.add('fa-dot-circle');
                } else {
                  level.classList.add('fa-circle');
                }
              }

              let userName = document.createElement('span');
              userName.innerHTML = user.name;

              userGroup.prepend(level);
              userGroup.append(userName);
              userWrapper.append(userGroup);
              userList.append(userWrapper);
            });
            shiftGroup.append(userList);

            if (!shift.isOff) {
              $(shiftGroup).tooltip({
                html: true,
                title: shift.shift.start_time + "~" + shift.shift.end_time,
              });
            }
            info.el.firstChild.appendChild(shiftGroup);
          }
        }
        if (prop.shifts) {
          // 排除全科休診events
          // Fix for disappearing table line
          $(info.el).css('background-color', 'transparent');
          $(info.el).css('border-color', 'transparent');
          info.el.firstChild.firstChild.remove();
        } else {
          // 只限全科休診
          // Fix for background event height
          $(info.el).css('height', '100%');
        }
      },
      eventPositioned: function (info) {
        if (!info.event.extendedProps.shifts) {
          // 只限全科休診
          // Fix for background event height and width
          let ancestor = $(info.el).parent().parent();
          let width = $(info.el).width();
          $(info.el).detach().appendTo(ancestor);
          $(info.el).width(width);
        }
      },
      eventDestroy: function (info) {
        $(info.el).tooltip('dispose');
      },
      events: function (fetchInfo, successCallback, failureCallback) {

        const startStr = fetchInfo.startStr.slice(0, 10);
        const endStr = fetchInfo.endStr.slice(0, 10);
        Promise.all([
          fetch('/api/results/?start=' + startStr + '&end=' + endStr).then(res => res.json()),
          fetch('/api/users/').then(res => res.json()),
          fetch('/api/shifts/').then(res => res.json()),
          fetch('/api/dates/?start=' + startStr + '&end=' + endStr).then(res => res.json()),
          fetch('/api/users-can-support/?start=' + startStr + '&end=' + endStr).then(res => res.json())
        ]).then(dataArr => {
          const data = dataArr[0];
          const users = dataArr[1];
          const shifts = dataArr[2];
          const dates = dataArr[3];
          const usersCanSupport = dataArr[4];
          let processedData = [];

          data.forEach(e => {
            if ([5, 6].indexOf(e.shift.shift_type) >= 0 && ['例假', '休息'].indexOf(e.shift.name) < 0) {
              return;
            }

            let user = users.find(u => u.id === e.user && u.department.id === parseInt('{{department.id}}', 10));
            if (!user) {
              return;
            }

            const shift = shifts.find(s => s.id === e.shift.id);
            e.shift = shift;
            e.resourceId = getResourceId(shift, e.date, e.user, e.station.id);
            let index = processedData.findIndex(d => d.date === e.date && d.resourceId === e.resourceId);
            if (index < 0) {
              processedData.push({
                id: e.date+'_'+e.resourceId,
                title: '',
                date: e.date,
                resourceId: e.resourceId,
                backgroundColor: 'transparent',
                borderColor: 'transparent',
                station: e.station,
                shifts: {},
              });
              index = processedData.length - 1;
            }

            if (!processedData[index].shifts[shift.id]) {
              processedData[index].shifts[shift.id] = new ShiftGroup(shift);
            }
            processedData[index].shifts[shift.id].addUser(user.id, user.full_name, user.type_of_user);
          });

          dates.forEach(date => {
            if (date.attribute['{{department.id}}'] === '0') {
              processedData.push({
                id: date.start,
                title: '',
                date: date.start,
                resourceIds: calendar.getTopLevelResources().map(r => r.id),
                color: shiftColor.default,
                display: 'background'
              });
            }
          });

          successCallback(processedData);

          function getResourceId(shift, date, userId, stationId) {
            if ([3, 5, 6].indexOf(shift.shift_type) >= 0) {
              let canSupport = usersCanSupport[date].find(i => i.id === userId && i.shift === shift.id);
              if (!canSupport || canSupport.can_support_shift.length === 0) {
                return 0;
              }
            }
            return stationId;
          }
        });
      },
      loading: function (isLoading) {
        if (isLoading) {
          $('#loading').show();
        } else {
          $('#loading').hide();
        }
      }
    });
    if ("{{LANG}}" == 'zh-hant') {
      calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();
    Promise.all([

    ])

    // 第二個圖
    var ctx = document.getElementById('chart2').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['排班', '出勤', '公假', '自假'],
            datasets: [{
                barThickness: 30,
                data: first_img,
                backgroundColor: [
                    '#37419A',
                    '#37419A',
                    '#37419A',
                    '#37419A',
                ],
                borderColor: [
                    '#37419A',
                    '#37419A',
                    '#37419A',
                    '#37419A',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: false,
                        display: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                    offsetGridLines: false,
                  }
                }]
            },
            legend:{
              display: false,
            },
            aspectRatio: 1.6,
            maintainAspectRatio: false
        }
    });

  });

</script>
{% endblock %}

{% block styles %}
<style>
  .container {
    /* background-color:green; */
    padding: auto;
    margin-right: 0;
    max-width: 90vw;
  }

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 0.5;
  }

  .loader,
  .loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }

  .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    top: 10em;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  #loading .h5 {
    color: white;
    position: relative;
    top: 4em;
    width: 10em;
    height: 3em;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.8);
    line-height: 3em;
  }

  a,
  a:hover {
    text-decoration: none;
  }
  #calendar {
    width: 100%;
    overflow: hidden;

  }
  .dash {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
  .DashCollapse {
    height: 20rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card-header {
    font-size: 1.6rem;
  }
  .card-header .btn {
    margin: 0;
    float: left;
  }
  #calendar {
    width: 100%;
    height: 100%;

  }
  .content {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-around;
  }
  .right {
    width: 75%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: inline-flex;
    /* max-width: 25rem; */
    position: relative;
  }
  .unit {
    float: right;
    font-size: 14px;
  }

  .left {
    width: 20%;
    height: 100%;
    min-width: 10rem;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
  }
  .half{
    height: 100%;
    min-width: 3rem;
    width: 49%;
    font-size: 1rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .data {
    display: flex;
  }

  .label {
    width: 60%;
  }

  .card-header .fa-bars::before {
    color: #666;
  }
  .off-resource {
    background-color: #404040;
  }
  .shift-name {
    color: white !important;
  }
  .shift-group {
    white-space: break-spaces;
    border-radius: 5px;
  }
  .user-group {
    font-size: 14px;
    background: white;
    margin: auto 1px;
    padding: 1px;
    border-radius: 3px;
    display: inline-block;
  }
  .user-group i {
    font-size: 10px;
  }
</style>
{% endblock %}
