{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Redfalcon Schedule | Home{% endblock %}
<!-- {% load static %} -->
{% block content %}
<script src="{% static 'fullcalendar/resource-common/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/resource-timeline/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/resource-daygrid/main.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'fullcalendar/resource-timeline/main.min.css' %}">
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<div class="container">
    <div class="dash">
      <div class="card" style="margin-left: 50px;">
        <div class="card-header text-center">
          <button class="btn" id="toggle-btn">
            <i class="fa fa-bars"></i>
          </button>人力分析<span class="unit">單位：人</span>
        </div>
        <div class="card-body DashCollapse" >
          <div class="left">
            <div class='data'><div class="label">工作日</div><div class="nums">1</div></div>
            <div class='data'><div class="label">休息日</div><div class="nums">1</div></div>
            <div class='data'><div class="label">例假日</div><div class="nums">1</div></div>
            <div class='data'><div class="label">國定假日</div><div class="nums">1</div></div>
            <div class='data'><div class="label">特休</div><div class="nums">1</div></div>
          </div>
          <div class="right">
            <canvas  id='chart1'>
            </canvas>
          </div>

        </div>

      </div>

      <div class="card" style="margin-right: 50px;">
        <div class="card-header text-center">正職人力出勤分析<span class="unit">單位：時</span></div>
        <div class="card-body DashCollapse" >
          <div class="left">
            <div class='data'><div class="label">排班</div><div class="nums">1</div></div>
            <div class='data'><div class="label">on call</div><div class="nums">1</div></div>
            <div class='data'><div class="label">加班</div><div class="nums">1</div></div>
            <div class='data'><div class="label">減班</div><div class="nums">1</div></div>
            <div class='data'><div class="label">差額</div><div class="nums">1</div></div>
          </div>
          <div class="right">
            <canvas  id='chart2'>
            </canvas>
          </div>
        </div>
      </div>

      <!-- <div class="card">
        <div class="card-header text-center">兼職人力出勤分析<span class="unit">單位：時</span></div>
          <div class="card-body DashCollapse" >
            <div class="left">
              <div class='data'><div class="label">排班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">on call</div><div class="nums">1</div></div>
              <div class='data'><div class="label">加班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">減班</div><div class="nums">1</div></div>
              <div class='data'><div class="label">差額</div><div class="nums">1</div></div>
            </div>
            <div class="right">
              <canvas  id='chart3'>
              </canvas>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div id="calendar"></div>
</div> <!-- end container -->
<!-- chart.js CDN -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js">
</script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var nextPeriod = {}
    let btn = document.getElementById('toggle-btn')
    btn.addEventListener('click', function(){
      let contents = document.querySelectorAll('.DashCollapse');
      contents.forEach(e=>{
        e.classList.toggle('collapse')
        });
    });
    // 第一個圖
    var ctx = document.getElementById('chart1').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
          labels: ['正職人力', '兼職人力', '暫停排班', '總人力'],
          datasets: [{
              barThickness: 30,
              data: [12, 7, 5, 5],
              backgroundColor: [
              '#37419A',
              '#37419A',
              '#37419A',
              '#37419A'
              ],
              borderColor: [
              '#37419A',
              '#37419A',
              '#37419A',
              '#37419A'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                      offsetGridLines: false,
                      display: false
                  }
              }],
              xAxes: [{
                  ticks: {
                      beginAtZero: true
                  },
                  gridLines: {
                  offsetGridLines: false,
                }
              }]
          },
          legend:{
            display: false,
          },
          aspectRatio: 1.6,
          maintainAspectRatio: false
      }
    });


    // 第二個圖
    var ctx = document.getElementById('chart2').getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['排班', '出勤', '公假', '自假'],
            datasets: [{
                barThickness: 30,
                data: [12, 7, 5, 5],
                backgroundColor: [
                    '#37419A',
                    '#37419A',
                    '#37419A',
                    '#37419A',
                ],
                borderColor: [
                    '#37419A',
                    '#37419A',
                    '#37419A',
                    '#37419A',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        offsetGridLines: false,
                        display: false
                    }
                }],
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                    offsetGridLines: false,
                  }
                }]
            },
            legend:{
              display: false,
            },
            aspectRatio: 1.6,
            maintainAspectRatio: false
        }
    });

// 第三個圖
// var ctx = document.getElementById('chart3').getContext('2d');
//   var myChart = new Chart(ctx, {
//     type: 'horizontalBar',
//     data: {
//         labels: ['排班', '出勤', '公假', '自假'],
//         datasets: [{
//             barThickness: 30,
//             data: [12, 7, 5, 5],
//             backgroundColor: [
//               '#37419A',
//               '#37419A',
//               '#37419A',
//               '#37419A',
//             ],
//             borderColor: [
//               '#37419A',
//               '#37419A',
//               '#37419A',
//               '#37419A',
//             ],
//             borderWidth: 1
//         }]
//     },
//     options: {
//         scales: {
//             yAxes: [{
//                 ticks: {
//                     beginAtZero: true
//                 },
//                 gridLines: {
//                     offsetGridLines: false,
//                     display: false
//                 }
//             }],
//             xAxes: [{
//                 ticks: {
//                     beginAtZero: true
//                 },
//                 gridLines: {
//                 offsetGridLines: false,
//               }
//             }]
//         },
//         legend:{
//           display: false,
//         },
//         aspectRatio: 1.6,
//         maintainAspectRatio: false
//     }
// });

    // calendar
    var calendarEl = document.getElementById('calendar');
    var initialLocaleCode = 'en';
    var Draggable = FullCalendarInteraction.Draggable;
    let currInfo = {};
    let calendar;
    let users = [];
    calendar = new FullCalendar.Calendar(calendarEl, {
      timeZone: 'UTC',
      editable: false,
      schedulerLicenseKey: '0780359527-fcs-1573633868',
      plugins: ['interaction', 'resourceTimeline'],
      height: 600,
      contentHeight: 600,
      header: {
        left: 'prev,next, custom2',
        center: 'title',
        right: ""
      },
      columnHeaderFormat: {
        weekday: 'short',
      },
      aspectRatio: 2,
      expandRows:true,
      visibleRange:{
        start:"{{start}}",
        end: "{{end}}"
      },
      // validRange: {
      //   start: "{{start}}",
      //   end: "{{end}}"
      // },
      resourceAreaWidth: "15rem",
      defaultView: 'resourceTimelineWeek',
      defaultDate: "{{default}}",
      slotLabelInterval:{day:1},
      slotLabelFormat: [
          {weekday: 'short', day:'numeric'},
      ],
      resourceLabelText: '工作站列表',
      resources: function(fetchInfo, successCallback, failureCallback) {
        fetch('/api/stations/?mode=resource/')
        .then(res=>{
          return res.json();
        })
        .then(data=>{
          data.forEach(e=>{
            e.title = e.name
          });
          successCallback(data);
        });
      },
      eventRender: function(info) {
        let prop = info.event.extendedProps;

        if (prop.shift.shift_type=="休假"){
          info.event.remove();
        }else if(prop.shift.shift_type=="公假"){
          info.event.remove();
        }else{
          $(info.el).tooltip({
            html:true,
            title: prop.shift.start_time+"~"+prop.shift.end_time,
          });
        };

        info.el.innerHTML = "";
        switch(prop.user.level) {
          case 1:
            switch(prop.shift.shift_type){
              case "白班":
                info.el.classList.add("day-shift");
                info.el.innerHTML += "<h6 class='shift-title'>D</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level1'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "小夜":
                info.el.classList.add("night-shift");
                info.el.innerHTML += "<h6 class='shift-title'>E</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level1'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "大夜":
                info.el.classList.add("graveyard-shift");
                info.el.innerHTML += "<h6 class='shift-title'>N</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level1'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "onCall":
                info.el.classList.add("on-call-shift");
                info.el.innerHTML += "<h6 class='shift-title'>O</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level1'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
            };
            break;
          case 2:
            switch(prop.shift.shift_type){
              case "白班":
                info.el.classList.add("day-shift");
                info.el.innerHTML += "<h6 class='shift-title'>D</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level2'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "小夜":
                info.el.classList.add("night-shift");
                info.el.innerHTML += "<h6 class='shift-title'>E</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level2'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "大夜":
                info.el.classList.add("graveyard-shift");
                info.el.innerHTML += "<h6 class='shift-title'>N</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level2'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "onCall":
                info.el.classList.add("on-call-shift");
                info.el.innerHTML += "<h6 class='shift-title'>O</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level2'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
            };
            break;
          case 3:
            switch(prop.shift.shift_type){
              case "白班":
                info.el.classList.add("day-shift");
                info.el.innerHTML += "<h6 class='shift-title'>D</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level3'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "小夜":
                info.el.classList.add("night-shift");
                info.el.innerHTML += "<h6 class='shift-title'>E</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level3'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "大夜":
                info.el.classList.add("graveyard-shift");
                info.el.innerHTML += "<h6 class='shift-title'>N</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level3'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "onCall":
                info.el.classList.add("on-call-shift");
                info.el.innerHTML += "<h6 class='shift-title'>O</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level3'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
            };
            break;
          case 4:
            switch(prop.shift.shift_type){
              case "白班":
                info.el.classList.add("day-shift");
                info.el.innerHTML += "<h6 class='shift-title'>D</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level4'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "小夜":
                info.el.classList.add("night-shift");
                info.el.innerHTML += "<h6 class='shift-title'>E</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level4'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "大夜":
                info.el.classList.add("graveyard-shift");
                info.el.innerHTML += "<h6 class='shift-title'>N</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level4'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
              case "onCall":
                info.el.classList.add("on-call-shift");
                info.el.innerHTML += "<h6 class='shift-title'>O</h6>"
                + "<div class='user-wrapper'>"
                + "<span class='level-group level4'></span>"
                + "<span class='username'>" + prop.user.full_name + "</span>"
                + "</div>";
                break;
            };
            break;
          default:
            info.el.innerHTML += "<span class='level-group err'></span>"
            + "<span class='username'>" + prop.user.full_name + "</span>";
            break;
        }


      },
      eventDestroy:function(info){
        $(info.el).tooltip('dispose');
      },
      events: function(fetchInfo, successCallback, failureCallback){
        let url = '/api/{{results}}/?start='
        url += fetchInfo.startStr + '&end=' + fetchInfo.endStr
        fetch(url)
        .then(res=>{
          return res.json();
        })
        .then(data=>{
          data.forEach(e=>{
            e.title = e.user.full_name;
            if(!e.station){
              delete e
            }
            e.resourceId = e.station.id;
            if (e.shift.shift_type == '休假'){
              e.color = 'red';
            }
          });
          successCallback(data);
        });
      }
    });
    if("{{LANG}}" == 'zh-hant'){
        calendar.setOption('locale', 'zh-tw');
    }
    calendar.render();
  });

</script>
{% endblock %}

{% block styles %}
<style>

    .container {
        /* background-color:green; */
        padding: auto;
        margin-right:0;
        max-width: 90vw;
    }


    a, a:hover{
        text-decoration: none;
    }
    #calendar{
        width: 100%;
        overflow: hidden;

    }

    .dash{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-bottom: 2rem;
    }

    .DashCollapse{
      height: 20rem;
      display:inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .card{
      width: 40%;
      float: left;
    }
    .card-header{
      font-size: 1.6rem;
    }

    .card-header .btn{
      margin: 0;
      float:left;
    }

    #calendar{
      width: 100%;
      height: 100%;

    }

    .content{
      width: 100%;
      height: 30rem;
      display: flex;
      justify-content: space-around;
    }

    .right{
      width: 65%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      display:inline-flex;
      max-width: 25rem;
      position: relative;
    }
    .unit{
      float:right;
      font-size: 14px;
    }
    .left{
      width: 30%;
      height: 100%;
      min-width: 10rem;
      margin: 0;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1rem;
    }
    .data{
      display: flex;
    }
    .label{
      width: 60%;
    }
    .card-header .fa-bars::before{
      color: #666;
    }
    .user-wrapper {
      width: 75px;
      height: 30px;
      background: white;
      border-radius: 5px;
      margin-left: 3px;
      margin-top: 1px;
    }
    .level-group {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 10px 5px 0px 5px;
    }
    .level1 {
      background: #eaeaea;
    }
    .level2 {
      background: #A6C2CE;
    }
    .level3 {
      background: #84B1ED;
    }
    .level4 {
      background: #37419A;
    }
    .day-shift {
      background: #EBC57C;
      border: none;
      border-radius: 5px;
      margin-bottom: 2px;
      line-height: 31px;
    }
    .night-shift {
      background: #84B1ED;
      border: none;
      border-radius: 5px;
      margin-bottom: 2px;
      line-height: 31px;
    }
    .graveyard-shift {
      background: #6B799E;
      border: none;
      border-radius: 5px;
      margin-bottom: 2px;
      line-height: 31px;
    }
    .on-call-shift {
      background: #9C8F96;
      border: none;
      border-radius: 5px;
      margin-bottom: 2px;
      line-height: 31px;
    }
    .shift-title {
      color: white;
      margin-top: 6px;
      margin-left: 3px;
    }
    .username {
      font-size: 15px;
    }
</style>
{% endblock %}
