{% extends "base.html" %}
{% block title %} Edit Demand {% endblock %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <div class="title text-center">
                    <h2>Edit Demand</h2>
                </div>
                {% csrf_token %}
                {{ form.shift |as_crispy_field }}
                <br>
                {{ form.level |as_crispy_field }}
                {{ form.weekday |as_crispy_field }}
                {{ form.holiday |as_crispy_field }}
                    
            <div class="col-12 text-center">
                <button class='btn-secondary btn-lg col-md-3' id="back">Back</button>
                <button class='btn-primary btn-lg col-md-3' type="submit">update</button>
            </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('back').addEventListener('click',
    function(){
        window.location.href="/demands/list"});
</script>
<style>
    .card{
    margin-top:5rem;
    box-shadow: 1px 1px 2px 0px;
    min-width: 20rem;
    }
    .card-body{
        padding: 5rem 10rem;
    }
</style>
{% endblock %}