{% extends "base.html" %}
{% block title %} Condition List {% endblock %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="container">
	<div class="title text-center">
		<h1>Condition List</h1>
	</div>

	{% for message in messages %}
	<div class="alert {{ message.tags }} alert-dismissible" role="alert">
		{{message}}
	</div>
    {% endfor %}

	<!-- 搜尋欄 -->
	<span id="searchbar" class="d-flex">
		<i class="fa fa-search"></i>
		<input type="text" class="form-input" id="myInput" placeholder="Search by">
		<select class="selectpicker" data-style="btn-info" id="condition" onchange="printOption()">
			{% for index, field in field_names %}
			<option class="dropdown-item" value={{index}} text={{field}}>{{field}}</a>
			{% endfor %}
		</select>
	</span>
	<!-- 搜尋欄end -->

	<table class="table table-striped text-center" id="myTable">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Department</th>
				<th scope="col">自排假數</th>
                <th scope="col">自排假期限</th>
                <th scope="col">可休假假日數</th>
                <th scope="col">累積時數重置時間</th>
                <th scope="col">勞基法工時規則</th>
                <th scope="col">醫院輪班規則</th>
                <th scope="col">管理者參與排班</th>
                <th scope="col">兼職員工排假日班</th>
                <th scope="col">實習員工排假日班</th>
                <th scope="col">實習員工只排白班</th>
                {% if user.role in "admin,manager" or user.is_superuser %}
                <th scope="col"></th>
                {% endif %}
			</tr>
		</thead>
		<tbody>
            {% for condition in conditions %}
            <tr>
                <td>{{ condition.department }}</td>
                <td>每月 {{ condition.limit_pre_schedule }} 次</td>
                <td>每月 {{ condition.deadline_pre_schedule }} 號</td>
                <td>每年 {{ condition.holiday_rest }} 次</td>
                <td>每年 {{ condition.recal_workhour_date }}</td>
                <td>
                    {% if condition.law_rule == 1 %}一般{% endif %}
                    {% if condition.law_rule == 2 %}變形工時{% endif %}
                    {% if condition.law_rule == 3 %}四周變形工時{% endif %}
                    {% if condition.law_rule == 4 %}八週變形工時{% endif %}
                </td>
                <td>
                    {% if condition.schedule_rule == 1 %}花班{% endif %}
                    {% if condition.schedule_rule == 2 %}單月同班種{% endif %}
                    {% if condition.schedule_rule == 3 %}三月同班種{% endif %}
                </td>
                <td>
                    {% if condition.admin_in_schedule %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if condition.part_time_in_holiday %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if condition.intern_in_holiday %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if condition.intern_d_only %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-times"></i>
                    {% endif %}
                </td>
                {% if user.role in "admin,manager" or user.is_superuser %}
                <td>
                    {% if user.role == "admin" or user.is_superuser or user.role == "manager" and user.department == condition.department %}
                    <a href="/condition/update/{{ condition.id }}">
                        <div class="btn btn-success"><i class="fas fa-edit"></i></div>
                    </a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
	</table>
</div>

<style>
	table {
		background-color: white;
		box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.8);
	}
	table th, table td {
		vertical-align: middle !important;
	}
	.fa-search {
		margin: 0 5px;
	}
</style>
{% block head %}
<link rel="stylesheet" href="{% static 'css/searchbar.css' %}">
{% endblock %}
<script>
    function searchFilter() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[sid];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}